
[data-ani]{
    opacity: 0;
}
// 
.ani-active{
    opacity: 1;
}
// 
.ani-fadeIn{
    animation: ani-fadeIn 1s both;
}
@keyframes ani-fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.ani-fadeInLeft{
    animation: ani-fadeInLeft 1s both;
}
@keyframes ani-fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.ani-fadeInLeftCenter{
    animation: ani-fadeInLeftCenter 1s both;
}
@keyframes ani-fadeInLeftCenter {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, -50%, 0);
        -ms-transform: translate3d(-100%, -50%, 0);
        transform: translate3d(-100%, -50%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
}

.ani-fadeInLeft20{
    animation: ani-fadeInLeft20 1s both;
}
@keyframes ani-fadeInLeft20 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-20%, 0, 0);
        -ms-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.ani-fadeInRight{
    animation: ani-fadeInRight 1s both;
}
@keyframes ani-fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.ani-fadeInRightCenter{
    animation: ani-fadeInRightCenter 1s both;
}
@keyframes ani-fadeInRightCenter {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0%, -50%, 0);
        -ms-transform: translate3d(0%, -50%, 0);
        transform: translate3d(0%, -50%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%,-50%, 0);
    }
}

.ani-fadeInRight20{
    animation: ani-fadeInRight20 1s both;
}
@keyframes ani-fadeInRight20 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(20%, 0, 0);
        -ms-transform: translate3d(20%, 0, 0);
        transform: translate3d(20%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.ani-fadeInUp{
    animation: ani-fadeInUp 1s both;
}
@keyframes ani-fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.ani-fadeInUpCenter{
    animation: ani-fadeInUpCenter 1s both;
}
@keyframes ani-fadeInUpCenter {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        -ms-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
}

.ani-fadeInUpCenterX10{
    animation: ani-fadeInUpCenterX10 1s both;
}
@keyframes ani-fadeInUpCenterX10 {
    0% {
        opacity: 0;
        transform: translate(-50%,10%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%,0%);
    }
}

.ani-fadeInUp20{
    animation: ani-fadeInUp20 1s both;
}
@keyframes ani-fadeInUp20 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        -ms-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.ani-fadeInDown{
    animation: ani-fadeInDown 1s both;
}
@keyframes ani-fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.ani-fadeInDownCenter{
    animation: ani-fadeInDownCenter 1s both;
}
@keyframes ani-fadeInDownCenter {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, -100%, 0);
        -ms-transform: translate3d(-50%, -100%, 0);
        transform: translate3d(-50%, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%,-50%, 0);
    }
}

.ani-fadeInDown20{
    animation: ani-fadeInDown20 1s both;
}

@keyframes ani-fadeInDown20 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        -ms-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}
.ani-fadeInDownCenterX{
    animation: ani-fadeInDownCenterX 1s both;
}
@keyframes ani-fadeInDownCenterX {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, -100%, 0);
        -ms-transform: translate3d(-50%, -100%, 0);
        transform: translate3d(-50%, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
        -ms-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%,0, 0);
    }
}

.ani-fadeScaleOutCenterX{
    animation: ani-fadeScaleOutCenterX 1s both;
}
@keyframes ani-fadeScaleOutCenterX {
    0% {
        opacity: 0;
        transform: translateX(-50%) scale(0.5);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
}

.ani-fadeScaleOutCenterX{
    animation: ani-fadeScaleOutCenterX 1s both;
}
@keyframes ani-fadeScaleOutCenterX {
    0% {
        opacity: 0;
        transform: translateX(-50%) scale(0.5);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
}

.ani-fadeScaleIn{
    animation: ani-fadeScaleIn 1s both;
}
@keyframes ani-fadeScaleIn {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.ani-fadeScaleInCenterX{
    animation: ani-fadeScaleInCenterX 1s both;
}
@keyframes ani-fadeScaleInCenterX {
    0% {
        opacity: 0;
        transform: translateX(-50%) scale(1.5);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
}
.ani-fadeScaleInCenter{
    animation: ani-fadeScaleInCenter 1s both;
}
@keyframes ani-fadeScaleInCenter {
    0% {
        opacity: 0;
        transform: translate(-50%,-50%) scale(1.5);
    }

    100% {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }
}

.ani-slideInLtCn75{
    animation: ani-slideInLtCn75 1s both;
}
@keyframes ani-slideInLtCn75 {
    0% {
        opacity: 0;
        transform: translate(-75%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
.ani-slideInRtCn25{
    animation: ani-slideInRtCn25 1s both;
}
@keyframes ani-slideInRtCn25 {
    0% {
        opacity: 0;
        transform: translate(-25%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
.ani-zoomIn{
    animation: ani-zoomIn 1s both;
}
@keyframes ani-zoomIn {
    0%, 100%, 40%, 70%, 80%, 95% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale(0);
    }
    40%{
        opacity: 1;
    }
    70%{
        opacity: 1;
        transform: scale(1.15);
    }
    80%{
        opacity: 1;
        transform: scale(0.9);
    }
    95%{
        transform: scale(1.05); 
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.ani-bounceIn{
    animation: ani-bounceIn 1s both;
}
@keyframes ani-bounceIn {
    0%, 100%, 20%, 40%, 60%, 80% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      -ms-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      -ms-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      -ms-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      -ms-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      -ms-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }

    100% {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      -ms-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
}
.ani-bounceInCenter{
    animation: ani-bounceInCenter 1s both;
}
@keyframes ani-bounceInCenter {
    0%, 100%, 20%, 40%, 60%, 80% {
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
      opacity: 0;
      transform: translate(-50%,0) scale3d(0.3, 0.3, 0.3);
    }

    20% {
      transform: translate(-50%,0) scale3d(1.1, 1.1, 1.1);
    }

    40% {
      transform: translate(-50%,0) scale3d(0.9, 0.9, 0.9);
    }

    60% {
      opacity: 1;
      transform: translate(-50%,0) scale3d(1.03, 1.03, 1.03);
    }

    80% {
      transform: translate(-50%,0) scale3d(0.97, 0.97, 0.97);
    }

    100% {
      opacity: 1;
      transform: translate(-50%,0) scale3d(1, 1, 1);
    }
}
.ani-fadeScaleOut{
    animation: ani-fadeScaleOut 1s both;
}
@keyframes ani-fadeScaleOut {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.ani-fadeScaleOutCenter{
    animation: ani-fadeScaleOutCenter 1s both;
}
@keyframes ani-fadeScaleOutCenter {
    0% {
        opacity: 0;
        transform: translate3d(-50%, -50%, 0) scale(0.2);
    }

    100% {
        opacity: 1;
        transform: translate3d(-50%, -50%, 0) scale(1);
    }
}

.ani-btnShake{
    animation: ani-btnShake 1s infinite both;
}
@keyframes ani-btnShake {
    0% {
        opacity: 1;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
.ani-btnShakeUpDown{
    animation: ani-btnShakeUpDown 1s infinite both;
}
@keyframes ani-btnShakeUpDown {
    0%,100% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
        transform: translateY(-50%);
    }
}

.ani-flash{
    animation: ani-flash 1s infinite both;
}
@keyframes ani-flash {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// points img animation
.ani-fadeIn55x60yToCenter{
    animation: ani-fadeIn55x60yToCenter 1s both;
}
@keyframes ani-fadeIn55x60yToCenter {
    0%{
        opacity: 0;
        transform: translate(-55%,-60%);
    }
    100%{
        opacity: 1;
        transform: translate(-50%,-50%);
    }
}
.ani-fadeIn53x60yToCenter{
    animation: ani-fadeIn53x60yToCenter 1s both;
}
@keyframes ani-fadeIn53x60yToCenter {
    0%{
        transform:translate(-53%,-60%);
    }
    100%{
        transform: translate(-50%,-50%);
    }
}

.ani-lineStretch{
    animation: ani-lineStretch 1s both infinite;
}
@keyframes ani-lineStretch {
    0%{
        opacity: 1;
        transform: translate(-50%) scaleY(0.0001);
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-50%) scaleY(1);
    }
}

.ani-rotate360{
    animation: ani-rotate360 1s both infinite linear;
}
@keyframes ani-rotate360 {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

.ani-shine{
    animation: ani-shine 1s both infinite linear;
}
@keyframes ani-shine {
    0%{
        left: -300%;
    }
    100%{
        left: 300%;
    }
}