// media
// Extra small devices (portrait phones, <=575px)
$g-sm: 576px !default; // Small devices (landscape phones, >=576 & <=767)
$g-md: 768px !default; // Medium devices (tablets, >=768 & <=991)
$g-lg: 992px !default; // Large devices (desktops, >=992 & <=1199)
$g-xl: 1200px !default; // Extra large devices (large desktops, >=1200)
$g-xxl: 1921px !default; // Extra large devices (large desktops, >1920)

// 開版大小
/*--------- Layout Set ---------*/
$pc-width: 1920px;
$pc-height: 900px;
$pad-width: 768px;
$mb-width: 750px;
$mb-height: null;

/*--------- Ratio Set ---------*/
$pad-768: 100vw / $mb-width;
$mb-750: 100vw / $mb-width;
$pc-1200-vw: 1 * (100vw / $pc-width);
$pc-1200-vh: (1 * (100vh / $pc-height));

@function fixVH($px){
  $result:  $px / $pc-height;
  @return calc(var(--vh, 1vh) * 100 * #{$result} );
}

@function margeConvPC($fNC) {
    $array: ();

    @each $index in $fNC {
        $val: $index;
        @if(type-of($val) == "number"){
            $val: $pc-1200-vw * 1px * $index;
        }
        $array: join($array,$val,space);
    }

    @return $array;
}

@function margeConvMB($fNC) {
    $array: ();

    @each $index in $fNC {
        $val: $index;
        @if(type-of($val) == "number"){
            $val: $mb-750 * 1px * $index;
        }
        $array: join($array,$val,space);
    }

    @return $array;
}

@mixin rwd($list) {
    @each $name,$value in $list{
        #{$name}: margeConvMB($value);
    }

    @media only screen and (min-width: $g-xl) {
        @each $name,$value in $list{
            #{$name}: margeConvPC($value);
        }
    }
}


/*--------- Font Base Set ---------*/
$base-font-size: 16px;
$base-line-height: 1;
$base-font-weight: 400;


/*--------- Font Family ---------*/
$font-family: "Noto Sans TC", "微軟正黑體", Microsoft JhengHei, PingFang T, Arial, sans-serif;
html,body{
    font-size: $base-font-size;
    font-family: $font-family;
}


// ------ 自定義FontAwesome
$icon: "Font Awesome 5 Free";
$icon_2: icomoon;

@mixin fa-icon($num, $font-face) {
    content: $num;
    font-family: $font-face;

    @if $font-face==$icon {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-weight: 900;
        font-style: normal;
    }

    @else if $font-face==$icon_2 {}
}